.send-button {
  margin-left: 10px;
  background-color: rgb(25, 135, 84);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 15px;
}
.chat-input {
  padding: 13px 15px;
  border-radius: 10px;
  border-width: 1px;
  font-size: 15px;
  flex-grow: 1;
}
.chat-input-container {
  display: flex;
  margin-bottom: 20px;
  margin-bottom: 60px;
}